doctype html
html(lang="en")
  head
    title SoundNode
    link(rel="stylesheet", type="text/css", href="/index.css")
    script(type="text/javascript", src="/jquery.min.js")
    script(type="text/javascript", src="/socket_io.js")
    script(type="text/javascript", src="/index.js")
  body
    div#type-selector
      div#soundboard Board
      div#player Player
