doctype html
html(lang="en")
    head
        title Player
        link(rel="stylesheet", type="text/css", href="/player.css")
        script(type="text/javascript", src="/config.js")
        script(type="text/javascript", src="/jquery.min.js")
        script(type="text/javascript", src="/socket_io.js")
        script(type="text/javascript", src="/player.js")
    body

        div#playername
            h1 
        div#player-select
            input#input-playername(type="text", placeholder='Playername')

        div#sounds
            
