doctype html
html(lang="en")
    head
        title Userboard
        link(rel="stylesheet", type= "text/css", href="/combo.css")
        link(rel="stylesheet", type= "text/css", href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")
        link(rel="stylesheet", type="text/css", href="/soundnode.css")
        script(type="text/javascript", src="/config.js")
        script(type="text/javascript", src="/jquery.min.js")
        script(type="text/javascript", src="/socket_io.js")
        script(type="text/javascript", src="/userboard.js")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    body
        div
            div.pure-menu.pure-menu-open.pure-menu-horizontal.pure-menu-fixed
                a.pure-menu-heading(href="")
                    span#heading-icon.fa-stack.fa-lg
                        i.fa.fa-cloud.fa-stack-2x
                        i.fa.fa-bullhorn.fa-stack-1x.fa-inverse
                    span#heading-label Soundnode
                ul 
                    li.pure-menu-selected
                        div#something
                            i.fa.fa-th.fa-lg.fa-fw
                    li
                        div#upload-popup
                            i.fa.fa-plus.fa-lg.fa-fw
                    li
                        div#settings
                            i.fa.fa-cogs.fa-lg.fa-fw

                    li.pure-menu-separator
                    li
                        div#volume
                            i.fa.fa-volume-up.fa-lg.fa-fw
            div.splash-container
                div.splash
                    div#input-username-container.splash_head
                        input#input-username(type="text", placeholder='Username')
                    div#input-playername-container.splash_head
                        input#input-playername(type='text', placeholder='Player')
            div#upload_form_container test
                span#close_upload_form_container X
                form#uploadform(method='POST', action='/soundupload', enctype='multipart/form-data')            
                    input(type='hidden', name='_method', value='PUT')
                    input#hidden_username(type='hidden', name='username',value='')
                    p Title
                        input(type='text', name='title')
                    p File
                        input(type='file', name='soundclip')
                    p
                        input(type='submit', value='upload')
            div#sounds.pure-g
