doctype html
html(lang="en")
    head
        title Userboard
        link(rel="stylesheet", type="text/css", href="/userboard.css")
        script(type="text/javascript", src="/config.js")
        script(type="text/javascript", src="/jquery.min.js")
        script(type="text/javascript", src="/socket_io.js")
        script(type="text/javascript", src="/userboard.js")
    body

        div#user-select
            div#username brah
            input#input-username(type="text", placeholder='Username')

        div#upload 
            h1 Upload your sound
            form(method="POST", action="/soundupload" enctype="multipart/form-data" id="uploadform")
                input(type="hidden", name="_method", value="PUT")
                input#hidden_username(type="hidden" name="username" value="" )
                p Title
                    input(type="text" name="title")
                p File
                    input(type="file" name="soundclip")
                p
                    input(type="submit" value="upload")
        div#sounds
            
